@(hash: String, difficulty: Int, isCaught: Boolean, seed: Long = 0, time: Long = 0)

@main("Hash") {

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Difficulty</th>
                <th>@difficulty</th>
            </tr>
            <tr>
                <th>Hash</th>
                <th>@hash</th>
            </tr>
            <tr>
                <th>Caught?</th>
                <th>@if(isCaught) {Yes} else {No}</th>
            </tr>
            @if(isCaught) {
            <!-- Image -->
            <tr>
                <th>Picture</th>
                <th><img style="max-height: 750px;" src="@("/temp/"+seed+".png")"> </th>
            </tr>
            <tr>
                <th>Seed</th>
                <th>@seed</th>
            </tr>
            <tr>
                <th>Time</th>
                <th>@time</th>
            </tr>
            }
        </tbody>
    </table>
</div>

}